.p7venv/
sentiment140/
Workflows_conception/
install_python3.10_in_ubuntu.txt
.python-version
RL_Lemma_VS_Stem.png
Mes_notebooks/Model_1_simple/mlruns/
Mes_notebooks/Model_2_advanced/mlruns/
Mes_notebooks/Model_2_advanced/models/
Mes_notebooks/Model_2_advanced/.ipynb_checkpoints/
Mes_notebooks/Model_3_USE/mlruns
Mes_notebooks/Model_4_DISTILBERT/distilbert_model_package
Mes_notebooks/Model_4_DISTILBERT/distilbert_outputs
Mes_notebooks/Model_4_DISTILBERT/mlruns
Mes_notebooks/Model_4_DISTILBERT/artifacts/
Mes_notebooks/Model_4_DISTILBERT/CHANGELOG.md
Mes_notebooks/Model_4_DISTILBERT/old_CHANGELOG.md
app/FastApi/__pycache__
app/FastApi/fonctionnalités_fastapi.txt